synapse.env
synapse/data
matrix-appservice-webhooks/*
matrix-puppet-facebook/*.json
matrix-puppet-hangouts/*.json
matrix-puppet-hangouts/hangups/*
matrix-puppet-slack/*.json
mautrix-telegram/*.yaml
mautrix-telegram/*.db
registrations/*.yaml
