version: '3'

services:
    synapse:
        image: matrixdotorg/synapse
        restart: unless-stopped
        env_file:
            - synapse.env
        environment:
            - SYNAPSE_REPORT_STATS=no
            - SYNAPSE_ENABLE_REGISTRATION=no
            - SYNAPSE_ALLOW_GUEST=no
            - SYNAPSE_LOG_LEVEL=WARN
            #- SYNAPSE_LOG_LEVEL=DEBUG
            - SYNAPSE_NO_TLS=yes
        volumes:
            - ./synapse/homeserver.yaml:/conf/homeserver.yaml
            - ./synapse/data:/data
            - ./registrations/facebook-registration.yaml:/data/appservices/facebook-registration.yaml
            - ./registrations/hangouts-registration.yaml:/data/appservices/hangouts-registration.yaml
            - ./registrations/slack-registration.yaml:/data/appservices/slack-registration.yaml
            - ./registrations/telegram-registration.yaml:/data/appservices/telegram-registration.yaml
        ports:
            - 8008:8008/tcp
    matrix-puppet-facebook:
        image: matrix-puppet-facebook
        restart: unless-stopped
        environment:
            - DEBUG=*matrix-puppet*
        volumes:
            - ./matrix-puppet-facebook/config.json:/opt/matrix-puppet-facebook/config.json
            - ./matrix-puppet-facebook/appstate.json:/opt/matrix-puppet-facebook/appstate.json
            - ./registrations/facebook-registration.yaml:/opt/matrix-puppet-facebook/facebook-registration.yaml
    matrix-puppet-hangouts:
        image: matrix-puppet-hangouts
        restart: unless-stopped
        environment:
            - DEBUG=*matrix-puppet*
        volumes:
            - ./matrix-puppet-hangouts/hangups:/root/.cache/hangups
            - ./matrix-puppet-hangouts/config.json:/opt/matrix-puppet-hangouts/config.json
            - ./registrations/hangouts-registration.yaml:/opt/matrix-puppet-hangouts/hangouts-registration.yaml
    matrix-puppet-slack:
        image: matrix-puppet-slack
        restart: unless-stopped
        environment:
            - DEBUG=*matrix-puppet*
        volumes:
            #- /home/d3m3vilurr/works/bridges/matrix-bridges/matrix-puppet-slack/client.js:/opt/matrix-puppet-slack/client.js
            - ./matrix-puppet-slack/config.json:/opt/matrix-puppet-slack/config.json
            - ./registrations/slack-registration.yaml:/opt/matrix-puppet-slack/slack-registration.yaml
    mautrix-telegram:
        image: tulir/mautrix-telegram
        restart: unless-stopped
        volumes:
            - ./mautrix-telegram:/data
            - ./registrations/telegram-registration.yaml:/data/registration.yaml
